body {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #58A1D6;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}

.confirm-button {
  z-index: 99;
  background-color: white;
  color: #58A1D6;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  width: 250px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.confirm-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.function-text {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 black, 
               -1px -1px 0 black,
               1px -1px 0 black,
               -1px 1px 0 black; /* This creates the outline effect */
}

h1 {
  color: #58A1D6;
  font-weight: bold;
}

button {
  background-color: #3E7FB4;
  padding: 15px 40px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  border: none;
}

a {
  color: #58A1D6;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.island {
  position: absolute;
  z-index: +1;
  margin-top: 100vh;
  display: block;  
  height: 400px;
  animation: subirDescer 6s ease-in-out infinite;
}

@keyframes subirDescer {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
  100% {
    transform: translateY(0);
  }
}

.nuvem1 {
  position: fixed;
  z-index: -1;
  margin-left: 40%;
  margin-top: 45px;
  height: 100px;
}

.nuvem2 {
  position: fixed;
  z-index: 5;
  margin-bottom: 180px;
  margin-right: -200px;
  width: 70%;
}

.nuvem3 {
  position: fixed;
  z-index: -1;
  margin-left: -50px;
  margin-top: 250px;
  height: 80px;
}

button:hover {
  background-color: #357ABD; 
  transform: scale(1.05); 
}